/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */


/* from original personal page "style.css" */

body{
margin: 0;
padding: 0;
background: url(jupiterBlue.png) no-repeat;
background-size: cover;
}
.box{
width: 450px;
background: rgba(0, 0, 0, 0.4);
padding: 40px;
text-align: center;
margin: auto;
margin-top: 5%;
margin-bottom: 5%;
color: white;
font-family: 'Century Gothic',sans-serif;
}
.box-img{
border-radius: 50%;
width: 200px;
height: 200px;
}
.box h1{
font-size: 40px;
letter-spacing: 4px;
font-weight: 100;
}
.box h5{
font-size: 20px;
letter-spacing: 3px;
font-weight: 100;
}
.box p{
text-align: justify;
}
ul{
margin: 0;
padding: 0;
}
.box li{
display: inline-block;
margin: 6px;
list-style: none;
}
.box li a{
color: white;
text-decoration: none;
font-size: 60px;
transition: all ease-in-out 250ms;
}
.box li a:hover{
color: #b9b9b9;
}



/* From <style> */ 
body {
  font: normal 1.125em/1.5 'Roboto', sans-serif;
}
  
section {
  margin-bottom: 50px;
}
  
.tall {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
}
  
@media (max-width: 768px) {
  .tall {
    height: 400px;
  }
}



/* Menu bar and fonts */
.jmenu {
  background: #252525; /* Dark gray */
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
  box-sizing: border-box;
  line-height: 1;
}

/* Menu Button */
input.jm-menu-btn {
  display: none; /* Hide the checkbox */
}

/* Menu Items */
.jmenu ul,
.jmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
.jmenu a {
  color: #959595; /* Light gray */
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
}

.jmenu a:hover {
  color: #fff; /* White */
}


@media (min-width: 768px) {
  
  /* Menu items */
  .jmenu li {
    display: inline-block;
  }
  
  .jmenu a {
    padding: 16px;
  }
  
  

}
